<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund My Project!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">Fund My Project!</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        
        <button id="upload_widget" class="cloudinary-button">Upload files</button> | 
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}

      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  

  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

  <script type="text/javascript">  
  const updateUserImage = async(resultInfo) => {
    const image = encodeURIComponent(resultInfo.url);
    const response = await fetch(`/api/users/${image}`, 
    {
      method: "PUT"
    });
    const data = await response.json();

    console.log("Updated image");
  }
  var myWidget = cloudinary.createUploadWidget({
    cloudName: 'dtp5vl6hz', 
    uploadPreset: 'nszoamst'}, (error, result) => { 
      if (!error && result && result.event === "success") { 
        console.log('Done! Here is the image info: ', result.info);
        // url is what i need to upload into the user 
        // put to do an update
        updateUserImage(result.info);
      }
    }
  )

  document.getElementById("upload_widget").addEventListener("click", function(){
      myWidget.open();
    }, false);
  </script>
  {{/if}}
</body>

</html>
